.curved-loop-jacket {
  min-height: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.curved-loop-svg {
  margin-top: 32px;
  user-select: none;
  width: 100%;
  /* max-width: 1200px; */
  height: auto;
  aspect-ratio: 12 / 1;
  overflow: visible;
  display: block;
  font-size: 2.5rem;
  fill: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

@media (max-width: 1000px) {
  .curved-loop-svg {
    font-size: 320px !important;
    margin-top: 0;
    scale: 2;
  }
}